@model ECOMMERCE2.Models.BillingViewModel
@{
    ViewData["Title"] = "Checkout";
    var billingAddress = ViewBag.BillingAddress as List<ECOMMERCE2.Data.Model.BillingAddress>;
    var billingCard = ViewBag.BillingCard as List<ECOMMERCE2.Data.Model.BillingCard>;
}

<partial name="_SinglePageHeaderPartial" />

<div class="py-5 container">
    <h1 class="mb-4">Billing details</h1>
    <form asp-action="Checkout" method="post">
        <!--Shipping info start-->
        <div class="d-flex justify-content-between">
            <div class="col-md-11 col-lg-5 col-xl-6">
                <div id="collapseOne" class="form-item accordion-collapse collapse @(Context.Request.Query.Count() > 0 ? "" : "show")" data-bs-parent="#accordionExample">
                    <div class="input-group mb-3 mt-3">
                        <label class="input-group-text">Saved Addresses</label>
                        <input type="hidden" asp-for="UserId">
                        <select class="form-select">
                            <option value="none">None</option>
                            @foreach (var item in billingAddress)
                            {
                                <option value="@item.BillingAddressId">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">First Name<sup>*</sup></label>
                            <input type="text" class="form-control" asp-for="FirstName">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                            <label class="form-label my-3">Last Name<sup>*</sup></label>
                            <input type="text" class="form-control" asp-for="LastName">
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Email Address<sup>*</sup></label>
                    <input type="email" class="form-control" asp-for="Email">
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Mobile<sup>*</sup></label>
                    <input type="tel" class="form-control" asp-for="Mobile">
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Country<sup>*</sup></label>
                    <input type="text" class="form-control" asp-for="Country">
                </div>
                <div class="form-item">
                    <label class="form-label my-3">City<sup>*</sup></label>
                    <input type="text" class="form-control" asp-for="City">
                </div>
                <div class="form-item ">
                    <label class="form-label my-3">Address <sup>*</sup></label>
                    <input type="text" class="form-control" placeholder="House Number Street Name" asp-for="Address">
                </div>
                <div class="form-check text-start mt-2">
                    <input type="checkbox" class="form-check-input bg-primary border-0" id="SaveAddress" name="SaveAddress" value="Save" asp-for="SaveAddress">
                    <label class="form-check-label" for="SaveInfo">Save my address</label>

                </div>
                <!--Shipping info end-->
                <br>
                <br>
                <!--Payment info start-->
                <div class="input-group mb-3">
                    <label class="input-group-text">Saved Cards</label>
                    <select class="form-select">
                        <option value="none">None</option>
                        @foreach (var item in billingCard)
                        {
                            <option value="@item.BillingCardId">@item.CardHolderName</option>
                        }
                    </select>
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Name on Card<sup>*</sup></label>
                    <input type="text" class="form-control" asp-for="CardHolderName">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-item col-5">
                        <label class="form-label my-3">Credit Card Number<sup>*</sup></label>
                        <input type="number" maxlength="16" class="form-control" asp-for="CreditCardNumber">
                    </div>
                    <div class="form-item col-3">
                        <label class="form-label my-3">Expire Date<sup>*</sup></label>
                        <div class="d-flex align-items-center">
                            <input type="text" maxlength="2" class="form-control" placeholder="MM" asp-for="ExpiryDateMonth">
                            <span class="mx-2">/</span>
                            <input type="number" maxlength="2" class="form-control" placeholder="YY" asp-for="ExpiryDateYear">
                        </div>
                    </div>
                    <div class="form-item col-3">
                        <label class="form-label my-3">CVV<sup>*</sup></label>
                        <input type="number" maxlength="3" class="form-control" placeholder="***" asp-for="CVV">

                    </div>
                </div>
                <div class="form-check text-start mt-2">
                    <input type="checkbox" class="form-check-input bg-primary border-0" id="SaveCard" name="SaveCard" value="true" asp-for="SaveCard">
                    <label class="form-check-label" for="SaveCard">Save my card info</label>
                </div>
                <!--Payment info end-->
            </div>

            <!-- Order Summary -->
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Products</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="~/img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                    </div>
                                </th>
                                <td class="py-5">Awesome Brocoli</td>
                                <td class="py-5">$69.00</td>
                                <td class="py-5">2</td>
                                <td class="py-5">$138.00</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="~/img/vegetable-item-5.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                    </div>
                                </th>
                                <td class="py-5">Potatoes</td>
                                <td class="py-5">$69.00</td>
                                <td class="py-5">2</td>
                                <td class="py-5">$138.00</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                    </div>
                                </th>
                                <td class="py-5">Big Banana</td>
                                <td class="py-5">$69.00</td>
                                <td class="py-5">2</td>
                                <td class="py-5">$138.00</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                </th>
                                <td class="py-5">
                                    <p class="mb-0 text-dark py-3">Subtotal</p>
                                </td>
                                <td class="py-5"></td>
                                <td class="py-5"></td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark">$414.00</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                </th>
                                <td class="py-5">
                                    <p class="mb-0 text-dark py-3">Shipping </p>
                                </td>
                                <td class="py-5"></td>
                                <td class="py-5"></td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark">Flat rate: $15.00</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                </th>
                                <td class="py-5">
                                    <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                </td>
                                <td class="py-5"></td>
                                <td class="py-5"></td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark">$135.00</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- order summary end -->
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout Page End -->